.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  margin-top: 20vh;
}

.banner p {
  margin-top: 10px;
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 50px
}

.form-content input,
.form-content select {
  margin-bottom: 15px;
}
/* Banner design */
